
.card {

  color: #ffffff;
  text-decoration: none;
  border-radius: 0;
  border: none;

  .card-img-overlay {

    padding-top: 90px;

  }


  hr {
    border-color: #D0D0D0;
    border-width: 1px;
    max-width: 50px;
  }
}