
#history {

  background-color: #ffffff;
  color: #000000;
  padding-bottom: 70px;

  h2 {

    padding-top: 50px;
    letter-spacing: 1px;
  }

  #historyHr {

    border-color: #D0D0D0;
    border-width: 1px;
    max-width: 50px;
  }

  p {

    width: 70%;
    margin: auto;
    color: #6B6B6B;
  }

  article {

    margin-top: 50px;

    header { padding-top: 15px;}

    .fas {font-size: 60px;}

    .article-par {
      color: #6B6B6B;
      width: 100%;
    }

  }


}


